*{
    margin: 0px;
    padding: 0px;

}
.loginpage{
    width: 500px;
    height: 350px;
    padding: 15px;
    margin: auto;
    margin-top: 10%;
    background-color: rgb(210, 243, 243);
    color: black;
    font-size: 16px;
    border: 2px solid black;
    border-top-right-radius: 30px;
     border-bottom-left-radius: 30px;

    border-radius: 10px;
}
.loginpage h1{
    font-size: 30px;
    padding-bottom: 15px;
    margin-bottom: 17px;
    border-bottom: 1px solid grey;
}
.loginpage span{
    padding: 3px;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"]{
    width: 100%;
    height: 40px;
    border-radius: px;
    background-color: transparent;
    margin-top: 6px;
    margin-bottom: 7px;
    padding: 6px;
    border: none;
    border-bottom: 1px solid black;
    
}

input[type="button"]{
    width: 100%;
    background-color: rgb(40, 231, 40);
    color: black;
    padding: 6px;
    margin-top: 5px;
    border: 1px solid black;
}
input[type="button"]:hover{
    background-color: green;
    color: white;
}